@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --sage: #7aa488;
    --dark: #222623; 
    --font-1: 'Cinzel', serif;
    --font-2: 'Raleway', sans-serif;
    --font-3: 'Montserrat', sans-serif;
}
/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************/
/* GENERAL */
/*************************/

main {
    /* background-image: linear-gradient(to top, #3a3d40 0%, white 60%); */
    background-image: white ;
    margin: 0 auto;
    width: 100%;
}

body {
    font-family: var(--font-2);
}

h1 {
    font-size: 60px;
}

p {
    font-size: 25px;
}

/* REUSABLE GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    justify-content: center;

}

/**************************/
/* HEADER*/
/*************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1;

    height: 80px;
    width: 100%;
    padding: 0px 48px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    background-color: white;
}

.logo {
    height: 70px;
}

.main-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 25px;
    font-family: var(--font-3);
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--dark);
    font-weight: 700;
    /* transition: all 0.3s; */
}

.main-nav-link:hover,
.main-nav-linl:active {
    color: var(--sage);
}

/**************************/
/* WELCOME SECTION */
/*************************/

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(to top, #3a3d40 0%, white 60%); */
    
}

/**************************/
/* PROJECTS SECTION */
/*************************/

.projects {
    padding: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.project-header {
    font-size: 50px;
    grid-area: 1 / span 3;
    justify-self: center;
    margin-bottom: 20px;
}

.project-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
 
    padding: 20px;
    margin-bottom: 10px;
}

.project-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: transparent;
    padding: 10px;
    filter: brightness(80%);
}

.project-img:hover {
    background-color: var(--sage);
    filter: brightness(100%);
}

.project-link:link,
.project-link:visited {
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: var(--dark);
}

.project-link:hover,
.project-link:active {
    font-style: bold;
    font-size: 30px;
}

@media (max-width: 1000px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        justify-items: center;
        justify-content: center;
    
    }
}


/**************************/
/* CONTACT SECTION */
/*************************/

.contact-section {
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.contact-links {
    display: flex;
    justify-content: stretch;
    gap: 50px;
    margin-top: 50px;
}

.contact-link:link,
.contact-link:visited {
    text-decoration: none;
    color: var(--dark);
    font-weight: 600;
    font-size: 20px;
}

.contact-link:hover,
.contact-link:active {
    text-decoration: underline;
    color: var(--sage);
}

.contact-div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contact-header {
    font-size: 40px;
}

ion-icon {
    height: 50px;
}
