@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Raleway&display=swap');

:root {
    --sage: #7aa488;
    --dark: #222623; 
    --font-1: 'Cinzel', serif;
    --font-2: 'Raleway', sans-serif;
}
/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**************************/
/* GENERAL */
/*************************/

body {
    font-family: var(--font-2);
}

h1 {
    font-size: 60px;
}

p {
    font-size: 25px;
}


/**************************/
/* HEADER*/
/*************************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;

    height: 80px;
    width: 100%;
    padding: 0px 48px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
}

.logo {
    height: 70px;
}

.main-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    font-size: 25px;
    font-family: var(--font-1);
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: var(--dark);
    font-weight: 700;
    /* transition: all 0.3s; */
}

.main-nav-link:hover,
.main-nav-linl:active {
    color: var(--sage);
}

/**************************/
/* WELCOME SECTION */
/*************************/

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, #3a3d40 0%, white 60%);
    
}

/**************************/
/* PROJECTS SECTION */
/*************************/

.projects {
    background-color: #3a3d40;
}

